

<% @movies.each do |movie| %>
   <section class="movie">
   <div class="summary">
       <h2>  <%= link_to(movie.title, movie) %></h2> 
      <h3><%= movie.total_gross %></h3>
      </i>
      <br/>
      <p><%= truncate(movie.description, length: 50, separator: ' ') %></p>
 </div>
      </section>
<% end %>


<% if current_user_admin? %>
 <section class="admin">
      <%= link_to("Add New Movie", new_movie_path, class: "button") %>
 </section>
<% end %>




